[Unit]
Description=cot - csv
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/TAK-Esri/cot-csv.py
WorkingDirectory=/opt/TAK-Esri
StandardOutput=file:/var/log/cot-csv.log
StandardError=file:/var/log/cot-csv_error.log
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
