[Unit]
Description=CSV Download
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/TAK-Esri/csv-download.py
WorkingDirectory=/opt/TAK-Esri
StandardOutput=file:/var/log/csv-download.log
StandardError=file:/var/log/csv-download_error.log
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
