[Unit]
Description=CSV Download
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/Survey123-Python/csv-download.py
WorkingDirectory=/opt/Survey123-Python
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
