[Unit]
Description=CSV To kml
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/TAK-Esri/csv-kml.py
WorkingDirectory=/opt/TAK-Esri
StandardOutput=file:/var/log/csv-kml.log
StandardError=file:/var/log/csv-kml_error.log
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
